.filters {
    margin-top: 3rem;
}

.filters__wrapper {
    display: flex;
}

.filter {
    margin-right: 0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    &.active {
        background: black;
        color: white;
    }
}
