.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.nav__left {
  display: flex;
  align-items: center;
}

.nav__logo {
  width: auto;
  height: 2rem;
}

.menu__items {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 1.25rem;

  .menu__item {
    margin: 0 .5rem;

    a {
      color: #000;
      opacity: .7;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1rem;
      transition: all .3s;

      &.active {
        opacity: 1;
        color: black;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.nav__right {
  display: flex;

  a {
    padding: 0 .5rem;
    color: #000;
    opacity: .7;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1rem;
    transition: all .3s;

    &:hover {
      opacity: 1;
    }
  }
}

